header
    div(class="main_logo")
        img(src="images/logo_main.jpg" alt="main_logo" width="299" height="65")
    nav(class="navigation")
        .mob_menu
            i(class="fa fa-bars fa-2x" aria-hidden="true")
            span Меню 
        ol
            li
                a(href="index.html") Головна
            li
                a(href="about.html") Про мене
            li
                a(href="portfolio.html") Портфоліо
            li
                a(href="video.html") Відео
            li
                a(href="blog.html") Блог    
            li
                a(href="contacts.html") Контакти   
