doctype html
html(lang="zxx")
    include ../modules/head
    body
        main
            .header
                include ../modules/drop_down
                include ../modules/navigation
                h1 Відео
            .video_content
                .video_exmple
                    p Як вам початок зими? Особисто я в захваті! Як тільки помітив що робиться за вікном швиденько взяв фотоаппарат та побіг знімати. Неспішно прогулявся в Калинівці по берегу спиртзаводського ставка та в центрі. Намагався передати вам цю красу природи та життя в невеличкому містечку.    
                    iframe( width="299" height="168" src="https://www.youtube.com/embed/KaYx0xz02B4"     allowfullscreen id="video_1")
                .video_exmple
                    p Lorem ipsum dolor sit amet. Atque corrupti, quos dolores et molestiae consequatur. Quidem rerum facilis est et expedita distinctio. Quam nihil molestiae consequatur, vel eum fugiat, quo minus id, quod maxime. Sint et dolorum fuga ex ea commodi autem. Possimus, omnis dolor repellendus adipisci velit, sed ut labore et dolorum. Dolorum fuga aut fugit.   
                    iframe( width="299" height="168" src="https://www.youtube.com/embed/V-DUp5tbinw"    allowfullscreen id="video_2")    
                //- iframe( width="560" height="315" src="https://www.youtube.com/embed/0JhMxNgAn9M" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
                //- p Lorem ipsum dolor sit amet. Atque corrupti, quos dolores et molestiae consequatQuidem rerum facilis est et expedita distinctio. Quam nihil molestiae consequatur, eum fugiat, quo minus id, quod maxime. Sint et dolorum fuga ex ea commodi autPossimus, omnis dolor repellendus adipisci velit, sed ut labore et dolorum. Dolofuga aut fugit.
                //- iframe(width="560" height="315" src="https://www.youtube.com/embed/VO16AWSAKAc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
                //- p Lorem ipsum dolor sit amet. Atque corrupti, quos dolores et molestconsequatQuidem rerum facilis est et expedita distinctio. Quam nihil molestconsequatur, eum fugiat, quo minus id, quod maxime. Sint et dolorum fuga ex ea commautPossimus, omnis dolor repellendus adipisci velit, sed ut labore et dolorDolofuga aut fugit.
                //- iframe(width="560" height="315" src="https://www.youtube.com/embed/WhXUlufXc90" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen) 
                //- p Lorem ipsum dolor sit amet. Atque corrupti, quos dolores et molestiae consequatur. Quidem rerum facilis est et expedita distinctio. Quam nihil molestiae consequatur, vel eum fugiat, quo minus id, quod maxime.   
            .footer
                .horizon_line
                include ../modules/footer
        include ../modules/anchor 
        include ../modules/scripts    
